# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# Documents
!/README.md
!/LICENSE.md
!/document/
!/document/acknowledgement.md
!/document/CMakeLists.txt

# Project cmake file
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Source code
!/source/
!/source/nanairo/
!/source/nanairo/CMakeLists.txt
!/source/nanairo/*.dox
!/source/nanairo/core/
!/source/nanairo/core/*.hpp.in
!/source/nanairo/core/*.hpp
!/source/nanairo/core/*.cpp
!/source/nanairo/cmd/
!/source/nanairo/cmd/*.hpp.in
!/source/nanairo/cmd/*.hpp
!/source/nanairo/cmd/*.cpp
!/source/nanairo/kernel/
!/source/nanairo/kernel/include/
!/source/nanairo/kernel/include/cl/
!/source/nanairo/kernel/include/cl/*.hpp
!/source/nanairo/kernel/primary_sample_space_kernel/
!/source/nanairo/kernel/primary_sample_space_kernel/*.cl
!/source/nanairo/kernel/ray_cast_kernel/
!/source/nanairo/kernel/ray_cast_kernel/*.cl
!/source/nanairo/kernel/test_kernel/
!/source/nanairo/kernel/test_kernel/*.cl
!/source/nanairo/kernel/tone_mapping_kernel/
!/source/nanairo/kernel/tone_mapping_kernel/*.cl
# Nanairo cmake file
!/source/nanairo/cmake/
!/source/nanairo/cmake/*.cmake
# Dependencies
!/source/dependencies/
!/source/dependencies/CLI11
!/source/dependencies/cpu_features
!/source/dependencies/libspng
!/source/dependencies/libspng_cmake/
!/source/dependencies/libspng_cmake/CMakeLists.txt
!/source/dependencies/tinygltf
!/source/dependencies/Zisc
!/source/dependencies/Zivc
!/source/dependencies/zlib
# Resources
!/resource/
!/resource/scene/
!/resource/scene/*.glb.zip

# Build directories
!/build/
!/build/.gitkeep
